<div class="mainBoxFriendDetail">
  <!-- DIVIDER -->
  <a href="/">
    <button>back</button>
  </a>
  <!-- DIVIDER friend image -->
  <div class="friendImage">{%FRIENDIMAGE%}</div>

  <!-- DIVIDER friend name -->
  <div class="friendName">{%FRIENDNAME%}</div>

  <!-- DIVIDER other details -->
  <div class="friendMerits">
    <p>Merits</p>
    <p>{%FRIENDMERITS%}</p>
  </div>

  <!-- DIVIDER other details -->
  <div class="friendMerits">
    <p>Demerits</p>
    <p>{%FRIENDDEMERITS%}</p>
  </div>

  <!-- DIVIDER friend description -->
  <div class="friendDescription">{%FRIENDDESCRIPTION%}</div>
</div>
