<a href="/friendDetail?id={%ID%}">
  <div class="liFriendsListCard">
    <!--Image div -->
    <div style="display: flex; justify-content: center; align-items: center">
      <span> {%FRIENDIMAGE%} </span>
    </div>

    <!--name div -->
    <div style="display: flex; justify-content: center; align-items: center">
      <p>{%FRIENDNAME%}</p>
    </div>

    <!--Age div -->
    <div style="display: flex; justify-content: center; align-items: center">
      <p>{%FRIENDAGE%}</p>
    </div>

    <!--nationality div -->
    <div style="display: flex; justify-content: center; align-items: center">
      <p>{%FRIENDNATIONALITY%}</p>
    </div>

    <div>
      <p>{%YOUNGER%}</p>
    </div>
  </div>
</a>
